
.individualPlayerArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  margin-right: 80px;
  // background-color: red;
}

.playerPictureArea {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  // background-color: turquoise;
}



.playerPictureArea img {
  width: 100px;
  background-color: white;
}

.playerInfo {
  display: flex;
  flex-direction: column;
}

.playerName {
  height: 30px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  margin-bottom: 30px;
}

.playerButtons {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.fieldButton {
  background-color: blue;
  color: white;
  border: none;
}

.fieldButton:hover {
  cursor: pointer;
  background-color: rgb(9, 165, 255);
}

.fieldButton:focus {
  outline: none;
}

.subButton {
  background-color: white;
  color: blue;
  border: none;
}

.subButton:hover {
  cursor: pointer;
  background-color: rgb(9, 165, 255);
  color: white;
}

.subButton:focus {
  outline: none;
}