

.allPlayers {
  background-color: rgb(15, 15, 110);
  height: 280px;
  /* width: 100%; */
}

.allPlayersArea {
  display: flex;
  height: 80%;
  /* width: 95%; */
  margin-left: 20px;
  margin-right: 20px;
  overflow-x: scroll;

}

