

.fieldArea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
  width: 700px;
  height: 80%;
  background-image: url("https://media1.fdncms.com/stranger/imager/u/large/43193688/1584628468-gettyimages-1176781177.jpg");
}


.fieldPlayerss {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
}

.fieldPlayer0 {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldPlayer1, .fieldPlayer2, .fieldPlayer3, .fieldPlayer4 {
  width: 120px;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fieldPlayer5, .fieldPlayer6, .fieldPlayer7 {
  width: 120px;
  height: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fieldPlayer8, .fieldPlayer9, .fieldPlayer10 {
  width: 120px;
  height: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.fieldPlayerss p {
  background-color: red;
}


.fieldPictureArea {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

.fieldPictureArea:hover {
  cursor: pointer;
}

.pictureXbutton {
  display: flex;
  justify-content: flex-end;
  width: 50px;
}

.pictureXbutton button {
  background-color: transparent;
  color: transparent;
  border: none;
  border-radius: 50%;
}

.pictureXbutton button:hover {
  cursor: pointer;
  background-color: red;
  color:white;
}

.pictureXbutton button:focus {
  outline: none;
}



.fieldPictureArea img {
  width: 50px;
  background-color: white;
}







// .defenseArea {
//   width: 120px;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   /* background-color: aqua; */
// }

// .midfieldArea {
//   width: 120px;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   /* background-color: aqua; */
// }

// .strikersArea {
//   width: 120px;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content:  space-around;
//   align-items: center;
//   /* background-color: aqua; */
// }